<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "includes/head.html" %} 
    {% block head %}
    {% endblock head %}
    <title>{{title}}</title>
</head>
<body>
<div class="wrapper">
    {% include "includes/menu.html" %}

    <div class="content">
        {% block body %}{% endblock body %}
    </div>

    <div class="footer">
    {% include "includes/footer.html" %}
    </div>
</div>
    <div id="msg_box"></div>
</body>
<script>
function msg(text, level) {
    var levels = {
        'success': {
            'class': 'is-success',
        },
        'warning': {
            'class':' is-warning',
        },
        'info': {
            'class':' is-info',
        },
        'danger': {
            'class':' is-danger',
        },
        'primary': {
            'class':' is-primary',
        },
        'dark': {
            'class':' is-dark',
        },
        'link': {
            'class':' is-link',
        },
    }
    var lev_class='';
    if (levels[level] != undefined) 
        lev_class = ' '+levels[level].class
        


    $('#msg_box').append(`
    <article class="message ${lev_class}">
    <div class="message-body">
        ${text}
    </div>
    </article>`)
}

$(document).on('click','#msg_box article', function() {
    $(this).remove();
});
</script>
{% block scripts %}{% endblock scripts %}
</html>